$primary: #33304e;
$secondary: #2a5761;
$tertiary: #407d7d;
$magent: #fb3257;
$orange: #ff7d38;
$dark_primary: #211f33;
$dark_secondary: #193238;
$dark_tertiary: #407d7d;

$font_sans: "Poppins", Helvetica, Arial, sans-serif;
